.new-tweet{
  background-color: #eee;
  border:1px solid #ccc;
  border-radius: 5px;
  padding: 5px 10px;
  margin-left:2em;
  margin-right:2em;

}

.new-tweet h2{
  margin-top:5px;
  border-bottom: 1px solid black;
  width: 100%;
}


.new-tweet textarea{
   width: 100%;
}

.article-tweet:hover .icons{
   opacity: 1;
}

.icons{
   margin:0px;
   opacity: 0;
   float:right;
   padding-right: 15px;
}

.new-tweet .counter{
  margin-top: 5px;
  float:right;
}

.article-tweet {
  border-radius: 5px;
  border: 1px solid grey;
  margin: 2em;
  opacity: 0.5;
  height:150px;
}

.article-tweet:hover{
  border: 1px solid black;
  opacity: 1;
}


.article-tweet-header {
  background-color: grey;
  border-radius: 5px 5px 0px 0px;
  padding-top: 10px;
  margin: 0px;
}

.profile-pic {
  height: 30px;
  width: 30px;
  margin-left: 15px;
  margin-right: 10px;
  margin-top: 5px;
  float: left;
}

.article-header-text {
  padding: 0px;
  line-height: 45px;
  margin: 0;
}

.article-content-text {
  margin-left: 15px;
}

.article-tweet footer{
  height:20px;
  border-top: 1px solid grey;
}

.article-tweet-footer {
  margin:0px;
  padding-left: 15px;
  padding-top: 10px;
  font-size: .7em;
  float:left;
}

.user-handle{
  float:right;
  margin-right:15px;
}